// Color Variables
{{ with site.Params.variables }}
$primary-color: #ffaa58;
$text-color: #455819;
$text-color-dark: #455819;
$body-color: {{.body_color | default "#fff"}};
$border-color: {{.border_color | default "#ECECEC"}};
$black: {{.black | default "#000"}};
$white: {{.white | default "#fff"}};
$light: {{.light | default "#EDF6F5"}};

// Font Variables
$primary-font: '{{ replaceRE ":[ital,]*wght@[0-9,;]+" "" .primary_font | default "Lato"}}', {{.primary_font_type | default "sans-serif"}};
$icon-font: '{{.icon_font | default "Font Awesome 5 Free"}}';
{{ end }}

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation.scss';

@import 'templates/main.scss';

@import 'menuround';
